<header>
    <h1>Autovehicule</h1>
</header>
<div class="container"> 
    <input type="search" name="" id="searchBox" placeholder="cauta">                 
<div class="car">
<img class="img1" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6InpkaDN5anlidG9mLUFVVE9WSVRSTyIsInciOlt7ImZuIjoicTdtejUzYmlmcHprLUFVVE9WSVRSTyIsInMiOiIxNiIsInAiOiIxMCwtMTAiLCJhIjoiMCJ9XX0.uT5mnG9MQFLe9-xKijAzxlQIgB2VrvvxCcBoYpdwwmU/image;s=1920x0" alt="images">

<div class="car-info">
<h2>Jaguar I-Pace</h2>
<p>Anul de fabricație: 2019</p>
<p>Putere:400 CP</p>
<p>Combustibil: Electic </p>
<p>Preț estimat: 40 000 EUR</p>
<a href="#" class="btn">Contacteaza Vanzator</a>

    

    <!-- Repetă această secțiune pentru fiecare autovehicul -->
</div>
<div class="car">
    <img class="img2" src="https://media.graphassets.com/NNMLroqzSS2JGxYXqnhK" alt="images">
    <div class="car-info">
        <h2>Volkswagen Passat CC</h2>
        <p>Anul de fabricație: 2013</p>
        <p>Cilindree: 1798 cm3</p>
        <p>Putere: 160 CP</p>
        <p>Combustibil: benzina</p>
        <p>Preț estimat: 10990 EUR</p>
        <a href="#" class="btn">Contacteaza Vanzator</a>
       
   </div>

<div class="car">
    <img class="img3" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6InY2bzFmZTdkcDh2djMtQVVUT1ZJVFJPIiwidyI6W3siZm4iOiJxN216NTNiaWZwemstQVVUT1ZJVFJPIiwicyI6IjE2IiwicCI6IjEwLC0xMCIsImEiOiIwIn1dfQ.S6QlcZIl9PN54s5X5MjsfBfZ9NqpbpGXaHCd6N60TbU/image;s=0x450;q=70" alt="images">
    <div class="car-info">
        <h2>BMW Seria 7</h2>
        <p>Anul de fabricație: 2017</p>
        <p>Cilindree: 2 993 cm3</p>
        <p>Putere: 340 CP</p>
        <p>Combustibil: Diesel </p>
        <p>Preț estimat: 38 950 EUR</p>
        <a href="#" class="btn">Contacteaza Vanzator</a>
        
    </div>

<div class="car">
    <img class="img4" src="https://prod.pictures.autoscout24.net/listing-images/5b4d66dc-e2f8-4500-8b85-268b433baaea_67f2afb2-7e67-46e9-b574-e1e756600d90.jpg/720x540.webp" alt="images">
    <div class="car-info">
        <h2>BMW Seria 5</h2>
        <p>Anul de fabricație: 2023</p>
        <p>Cilindree:1 995 cm3</p>
        <p>Putere:197 CP</p>
        <p>Combustibil: Diesel </p>
        <p>Preț estimat: 62 582 EUR</p>
        <a href="#" class="btn">Contacteaza Vanzator</a>
       
    </div>

<div class="car">
    <img class="img5" src="https://prod.pictures.autoscout24.net/listing-images/d44fd8d2-99c3-47a9-8d28-42228c0a54ef_2b19264d-ab5a-4054-9427-236c8eca3be5.jpg/1920x1080.webp" alt="images">
    <div class="car-info">
        <h2>Land Rover Sport</h2>
        <p>Anul de fabricație: 2019</p>
        <p>Cilindree:2 993 cm3</p>
        <p>Putere:258 CP</p>
        <p>Combustibil: Diesel </p>
        <p>Preț estimat: 44 387 EUR</p>
        <a href="#" class="btn">Contacteaza Vanzator</a>
        
    </div>

 <div class="car">
    <img class="img6" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6Ind5aTB1YnNua3dwbDMtQVVUT1ZJVFJPIiwidyI6W3siZm4iOiJxN216NTNiaWZwemstQVVUT1ZJVFJPIiwicyI6IjE2IiwicCI6IjEwLC0xMCIsImEiOiIwIn1dfQ.KQNhCq9NwRqZA2XK86sPxwB0UuzmaxTM_f5EaMFAQ_c/image;s=0x450;q=70" alt="images">
    <div class="car-info">
        <h2>Volkswagen Passat</h2>
        <p>Anul de fabricație: 2016</p>
        <p>Cilindree:1 968 cm3 </p>
        <p>Putere: 150 CP</p>
        <p>Combustibil: Diesel </p>
        <p>Preț estimat: 12 500 EUR</p>
        <a href="#" class="btn">Contacteaza Vanzator</a>
    </div>  
 

 <div class="car">
    <img class="img7" src="https://ireland.apollo.olxcdn.com/v1/files/eyJmbiI6InU2ZTI5bDRtbzl4NzItQVVUT1ZJVFJPIiwidyI6W3siZm4iOiJxN216NTNiaWZwemstQVVUT1ZJVFJPIiwicyI6IjE2IiwicCI6IjEwLC0xMCIsImEiOiIwIn1dfQ.q5_oWvuhdv1sLdPxvanqySxFq1m6c2FKr6-C-F2PkYY/image;s=0x450;q=70" alt="images">
    <div class="car-info">
        <h2>Tesla Model 3</h2>
        <p>Anul de fabricație: 2020</p>
        <p>Putere: 512 CP</p>
        <p>Combustibil: Electic </p>
        <p>Preț estimat: 29 950 EUR</p>
        <a href="#" class="btn">Contacteaza Vanzator</a>
    </div>