<router-outlet></router-outlet>
<header>
  <a class = "animatie" >DealDash</a>
  <nav class="navbar">
    <ul>
      
      <li><a href="home" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li>
        <a href="magazin" routerLink="/magazin" routerLinkActive="active">Magazin</a>
        <ul class="dropdown">
          <li>
            <a href="electronice" routerLink="/electronice" routerLinkActive="active">Electronice</a>
          </li>
          <li>
            <a href="haine" routerLink="/haine" routerLinkActive="active">Haine</a>
          </li>
          <li>
            <a href="autovehicule" routerLink="/autovehicule" routerLinkActive="active">Autovehicule</a>
          </li>
        </ul>
      </li>
      <li><a href="vanzari" routerLink="/vanzari" routerLinkActive="active">Vanzari</a></li>
      <li><a href="help-center" routerLink="/help-center" routerLinkActive="active">Help Center</a></li>
      <li><a href="login" routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul> 
  </nav>
</header>