header {
  background: linear-gradient(to right, #008996, #002528 85%);
  padding: 30px;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  margin-left: -15%;
  width: 115%;
  z-index: 1000;
  justify-content: center;
}

 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

 nav li {
  margin-right: 6rem;
  font-size: 30px;
  justify-content: center;
}

 nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s ease, background-color 0.4s ease;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 2px rgba(0, 0, 0, 0);
}

 nav a:hover {
  background-color: #fff;
  color: #008996;
  box-shadow: 0 4px 8px rgba(0, 0.2, 0, 0.8);
  border: 2px solid #000000;
}

 ul li ul.dropdown li {
  display: block;
  padding: 10px;
}
 ul li ul.dropdown li a {
  background: #008996;
  color: whitesmoke;
}
 ul li ul.dropdown {
width: 20px;
position: absolute;
z-index: 10;
display: none;
transform: translateX(-50%);
}
 ul li a:hover {
  background: #008996;
  color: whitesmoke;
  
}
 ul li:hover ul.dropdown {
  display: block;;
  padding-top: 10px;

}
.animatie {
  margin-left: 6%;
  margin-right: 6%;
 

  text-align: center;
  
  font-size: 50px;
  font-weight: 1000;
  color: rgb(232, 197, 109);
  -webkit-animation: tracking-in-contract-bck 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-in-contract-bck 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}