<section class="hero">
    <div class="hero-text">
      <h1>M<span style="color: blue">OD</span>A</h1>
      <p>
        Livrare gratuita la toate produsele la comenzile de minim 250 RON. Cumparati online acum! MODA - cea mai mare selectie de haine la preturi avantajoase! Promotii & reduceri. 
      </p>
    </div>
  
    <div class="image-hero"></div>
  </section>
  <!-- special icon -->
  <img src="https://png.pngtree.com/png-clipart/20230207/original/pngtree-beauty-logo-design-png-image_8947095.png" alt="icon" id="icon" width="250px" />
  
  <!-- start of second section -->
  <div class="promo-grid">
    <div class="item1"><span>50% discount</span></div>
    <div class="item2"><span>Note de culoare de primavara</span></div>
    <div class="item3"><span>Colectia noua</span></div>
    <div class="item4"><span>Piese perfecte pentru evenimente</span></div>
  </div>
  <!-- Container for the grid -->
  <div class="grid-container">
    <div class="grid-item">Jachete</div>
    <div class="grid-item">Pulovere</div>
    <div class="grid-item">Rochii</div>
    <div class="grid-item">Pantaloni</div>
  </div>
  
  <!-- start of footer -->
  <footer>
    <ul>
      <li>contact</li>
      <li>politics</li>
      <li>prices</li>
    </ul>
    <ul>
      <li>customer rights</li>
      <li>return politics</li>
      <li>promo codes</li>
    </ul>
    <div class="subscribe">
      Abonare pentru oferte si noutati
      <input type="email" placeholder="your email" />
    </div>
  </footer>
  <div class="container">
    <h1>Cele mai populare produse</h1>
    <div class="product">
  <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F1a%2F08%2F1a08deff6330662a8e2e6a9241175d898eb7e000.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Produs 1">
        <h2>Fusta maxi din amestec de in</h2>
        <p>Marimi disponibile: M
        </p>
        <span class="price">$50</span>
        <button>Achiziționează acum</button>
    </div>
    <div class="product">
        <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fa2%2F70%2Fa270da77f789f642a6b71da479de93cc7fb9a5f0.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Produs 2">
        <h2>Top cropped cu bretea la gat</h2>
        <p>Marimi disponibile: L </p>
        <span class="price">$40</span>
        <button>Achiziționează acum</button>
    </div>
    <div class="product">
      <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Ff1%2Ff6%2Ff1f6f49336e8d0988318b1194a10882c234a9345.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Produs 2">
      <h2>Pantaloni scurti din twilll cu cordon</h2>
      <p>Marimi disponibile: xxs </p>
      <span class="price">$70</span>
      <button>Achiziționează acum</button>
  </div>
  <div class="product">
    <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F46%2F7b%2F467b4c26bb9598252e695f9eb7797757ae6ab962.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Produs 2">
    <h2>Top tricotat reiat</h2>
    <p>Marimi disponibile: s </p>
    <span class="price">$30</span>
    <button>Achiziționează acum</button>
  </div>
  <div class="product">
    <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fa2%2F33%2Fa233cf2637bbdb63d39ece787a178b05aad6f81c.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="Produs 2">
    <h2>Ochelari de soare ingusti stil ochi de pisica</h2>
    <p>Culoare: negru </p>
    <span class="price">$30</span>
    <button>Achiziționează acum</button>
  </div>
    </div>